{% extends "base.html"%}

{% block content %}

<div class="intro">
    <h1>Welcome to Abridger</h1>
    <div>
        Bored of going though tons of text? Do your eyes hurt by looking at the screen and your head hurt by remembering all the facts thrown at you in the course? We bring ABRIDGER. 
        Abridger is your study buddy who will help you to summarise your long texts to make it easy for you to learn. Abridger will also prepare questions for you which you can use to practice and refine your understanding. 
        We use state-of-the-art Artificial Intelligence and Natural language processing to make your learning more efficient and fun .
    </div>

    <div>
        Use abridger today!
    </div>
</div>
   
{% endblock %}